#cart-container {
  padding: 10px 30px 10px 30px;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: rgba(227, 177, 132, 0.75);
}

#checkout-container {
  margin-left: 30px;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.total {
  font-weight: bold;
  font-size: 1.3rem;
}

.total,
.checkout-button {
  display: flex;
  justify-content: flex-end;
}

.checkout-button {
  background-color: #f2f2f2;
  color: #012340;
  border: 3px solid #a69a5d;
  border-radius: 9px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.remove-item {
  background-color: #f2f2f2;
  color: #012340;
  border: 3px solid #a69a5d;
  border-radius: 9px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
}

#checkout-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-start;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 10px;
}

button {
  background-color: #f2f2f2;
  color: #012340;
  border: 3px solid #a69a5d;
  border-radius: 9px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.photo {
  width: 50%;
}

.photo img {
  width: 100%;
  height: auto;
}

.details {
  margin-top: 5rem;
  margin-left: 1rem;
  align-items: center;
}

.details h1 {
  text-align: center;
}

.details p {
  text-align: center;
}

.promo-container {
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.promo-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input[type="text"] {
  width: 400px;
  height: 20px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 4px solid rgba(3, 76, 140, 0.37);
  background: #f8f4ef;
}

button.apply-button {
  background-color: #f8f4ef;
  color: #0a3641;
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
}

.total_price {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.total_price {
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

.buttons {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1015px) {
  .cart {
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 960px) {
  .cart {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
}
