.container-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.container-cont{
    background: rgba(227, 177, 132, 0.75);
}

.right-col{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right-col img{
    width: 50%;
    height: auto;
}

.right-col{
    border-left: 1px solid rgba(3, 76, 140, 0.37);
    padding-left: 2rem;
    padding-right: 2rem;
    
}

ul{
    list-style-type: none;
    padding: 0;

}


.left-col{
    
    width: 40%;
    margin-left: 2rem;
    margin-top: 2rem;
}

.long{
    border-radius: 4px;
    background: rgba(255, 244, 229, 0.88);
    margin-bottom: 10px;
}


.long{
    width: 100%;
    padding: 10px 10px 10px 10px;
}

@media screen and (max-width:1000px) {
    .container-cont {
        gap: 2rem;
    }
    
}

@media screen and (max-width:800px) {
    .container-cont {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .left-col {
        width: 50%;
        margin-top: 1rem;
        display: flex;
        align-items: baseline;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .buttons{
        gap: 1rem;
    }

   
    
    .right-col{
        width: 100%;
        margin: 0;
        border: none;
    }

    .promo-container{display: none;}
}





