
.add-to-cart {
    background-color: #A69A5D;
    color: #0A3641;
    padding: 10px 20px;
    border: 3px solid #A69A5D;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
}

.add-to-cart{
    margin-left: 300px;
}

