/* Стили для продуктов в секциях "Bestsellers" */
.image-item {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .image-item img {
    max-width: 100%;
    height: auto;
  }
  
  /* Другие стили по вашему усмотрению */
  