body {
    margin: 0;
    background-color: #F8F4EF;
    font-family: Karma, seref;
    font-size: 1rem;  
    margin-left: 10rem;
    margin-right: 10rem;
}


/* Navigation bar*/

nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

nav ul{
    
    display: flex;
    gap: 5em;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-shrink: 1;
}

nav ul{
    list-style-type: none;
    text-decoration: none;

}

nav a {
    color: #0A3641;
}

nav svg {
    width: 20px;
    height: 20px;
    fill: #012340;
}

/* Main */

.bestsellers {
display: flex;
justify-content: space-between;
margin-top: 3em;
margin-bottom: 3em;
gap: 3em;
} 



.col h1{
    text-align: center;
    font-size: 1.5rem;
}

.col{
    width: 48%;
    text-align: center;
}

.col{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 50%;
    padding: 10px;
}

.image-group{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 1em 1em 1em 0;
    gap: 1em;
}

.image-item{
    width: 30%;
    
}

.image-item img{
    width: 100%;
    height: auto;
}


.sale-container {
    background-color: #034C8C5E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-right: 10px;
    width: 100%;
    border-radius: 9px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}



h2 {
    font-size: 5rem;
    margin: 0;
    color: #000;
}

h3{
    font-size: 4rem;
    margin: 0;
    font-weight: bold;
    color: #000;
}
.sale-button {
    background-color: #F2F2F2;
    color: #012340;
    border: 3px solid #A69A5D;
    border-radius: 9px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
   
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 3em 0 3em 0;
}

.column1, .column2, .column3{
    width: 33%;
    height: 200px;
    color: #F2F2F2;
    display: flex;
}

.column1{
    background-image: url(../images/texture.jpeg);
       
}

.column1 p{
    padding: 1em 1em 0 1em;
    text-align: left;
}

.column2{
    background-image: url(../images/pocket_photo.jpg);
    
}

.column2 p{
    padding: 1em 1em 0 1em;
    text-align: center;
}    

.column3{
    background-image: url(../images/texture.jpeg);
}

.column3 p{
    padding: 1em 1em 0 1em;
    text-align: right;
}

.might-like-images {
    width: 100%;
    height: auto;
    background: rgba(166, 154, 93, 0.24);
    text-align: center;
    padding: 1em;
    margin-bottom: 1rem;
}    




hr{
    color: #06272F;
}
/* Footer*/

footer{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
}


.subscription{
    padding: 10px;
}

.subscription{
    color: #0A3641;
    
}

.subscription h4{
    text-align: center;
    text-decoration: solid;
}

.subscription ul{
    list-style: none;
    text-align: left;
}

form{
    color: #0A3641;
}


a{
    text-decoration: none;
    color: #0A3641;
}

@media screen and (max-width:1100px){

    body{
        
        margin-left: 5rem;
        margin-right: 5rem;
    }

    nav ul{
        gap: 3em;
    }

    footer{
        gap: 0.5em;
    }

    .subscription{
        padding: 5px;
    }
}

@media screen and (max-width:800px){

    body{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    nav ul{
        gap: 2em;
    }

    footer{
        gap: 0.3em;
    }

    .subscription{
        padding: 3px;
    }
}

@media screen and (max-width: 600px) {

    body{
        font-size: 0.8rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    nav ul{
        gap: 1em;
    }

    h1{
        font-size: 1rem;
    }



    .bestsellers {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .image-group {
        flex-direction: column;
    }

    .image-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .sale-container{
        margin-bottom: 10px;
    }

    .container{
        display: none;
    }
}

@media screen and (max-width: 500px) {

    body{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    nav ul{
        gap: 1em;
    }
}

@media screen and (max-width: 500px) {

    body{
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.7rem;
    }

    col h1{
        font-size: 1rem;
    }

    nav{
        
        flex-direction: column;
        
    }

    nav ul{
        gap: 1.5em;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    h1{
        font-size: 2rem;
    }
}