html {
    font-size: 62,5%;
}

body {
    margin: 0;
    background-color: #F8F4EF;
    font-family: Karma, seref;  
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navigation bar*/

nav {
    position: fixed;
    width: 1200px;
    top: 0;
    z-index: 10;
    margin: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: left;
}

nav{
    background-color: rgba(248, 248, 232, 0.24);
}

.logo{
    padding: 0;
    margin: 0 0 0 0;
}

.nav_list{
    margin-top: 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10em;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #0A3641;
    font-size: 1rem;
    font-style: normal;
}

nav svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    fill: #012340;
    display: right;
}

/* main*/

.home{
    margin-top: 10rem;
    margin-left: 5rem;
}

a:hover{
    text-decoration: underline;
}

#slogan{
    top: 10px;
    color: #06272F;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about{
   display: flex;
   gap: 50px;
   margin-top: 0;
}

.left-col{
    width: 70%;
    height: auto;
    flex-shrink: 0;
}

.right-col{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
}

 /* Footer*/

 footer{
    padding: 10px 10px 10px 10px;
    height: max-content;
}

hr{
    color: #06272F;
}

footer{
    display: flex;
    gap: 10px;
}

.subscription, .help, .product-info, .social-media{
    float: left;
    width: 25%;
    padding: 10px;
}

.subscription{
    color: #0A3641;
    text-align: center;
    font-size: 0,5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form{
    color: #0A3641;
}

.help{
    color: #0A3641;
    text-align: center;
    font-size: 0,5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

strong{
    font-size: 0,6rem;
    text-decoration: underline;
    color: #0A3641;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: #0A3641;
}

.social-media svg{
    align-items: center;
    margin-left: 20px;
}